<div>

  <h1>Productos en tiempo real</h1>
  <ul id="products-list">
    {{#each products}}
      <li id={{this.id}}><b>ID: </b>{{this.id}},
        <b>Producto:</b>
        {{this.title}}</li>
    {{/each}}
  </ul>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>